* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    margin: 100px auto;
    color: black;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 100px;
}

.container .time {
    margin: 5px;
}

.container #play-btn, #retry-btn {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

#stopwatch {
    font-size: 50px;
}